// Increase base font styling in the body only
body {
	font-size: $font-size-lg;
}

// Set horizontal rule color to border color
hr {
	background-color: $primary;
	opacity: 1;
}

// Set defaults for the paragraph element
p {
	margin: 2rem 0;

	a {
		text-decoration: underline;
	}
}

blockquote {
	font-style: italic;
	color: $gray-600;
}

// Add missing text-justify from bootstrap
.text-justify {
	text-align: justify;
}

// Add missing hover transition on link
a:hover {
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

// Background image for setup page 
main.setup-background {
	height: 100vh;

	background-size: cover;
	background-position: center;

	overflow-y: auto;

	div.container {
		max-height: 100vh;
	}
}

// Reset and custom style for post content
div.post-content {
	*::not(ul, ol, li) {
		margin: 10px 0;
		padding: 0;
	}

	* {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	img {
		width: 100%;
	}

	table {
		thead {
			tr {
				border-bottom: 2px var(--bs-primary) solid;
			}
		}

		tbody {
			tr {
				border-bottom: 1px var(--bs-primary) solid;

				&:nth-child(2n-1) {
					background-color: rgba(248, 248, 248, 0.75);
				}

				td {
					padding: 5px;
				}
			}
		}
	}

	code {
		margin: 10px;

		color: black;

		font-size: .8em;
	}
}