<form action="" method="post">
	<div class="form-floating">
		<textarea class="form-control" id="comment" placeholder="Entrez votre commentaire ici..." style="height: 4.5rem; min-height: 4.5rem;" required="" {{ connected == false ? 'disabled=""' : '' }}></textarea>
		<label for="comment">Votre commentaire</label>
	</div>

	<br>

	<div class="d-flex justify-content-center mb-5">
		{% if connected %}
			<button class="btn btn-primary text-uppercase text-light" id="submitButton" type="submit">Envoyer</button>
		{% else %}
			<a href="/login" class="btn btn-primary text-uppercase text-light">Pour envoyer un commentaire vous devez être connecter</a>
		{% endif %}
	</div>
</form>