<form action="/login#message" method="post" class="m-auto" style="max-width: 500px;">
	<div class="form-floating">
		<input class="form-control" id="email" name="email" type="email" placeholder="Entrez votre E-mail..." required="" value="{{ form.email }}">
		<label for="email">Adresse e-mail</label>
	</div>
	<div class="form-floating">
		<input class="form-control" id="password" name="password" type="password" placeholder="Entrez votre mot de passe..." required="">
		<label for="password">Mot de passe</label>
	</div>

	{% if message.error is not null %}
		<p class="text-justify text-danger" id="message">{{ message.error }}</p>
	{% endif %}

	<br>

	<div class="d-flex justify-content-center">
		<button class="btn btn-primary text-uppercase text-light w-100" id="submitButton" name="submitButton" type="submit">Connexion</button>
	</div>

	<div class="d-flex justify-content-center mt-4 mb-4">
		<a href="/register" class="text-center">Créer un compte</a>
	</div>

	<div class="d-flex justify-content-center mt-4 mb-4">
		<a href="/forget" class="text-center">Mot de passe oublié ?</a>
	</div>

	<div class="d-flex justify-content-center mt-4 mb-4">
		<a href="/resend" class="text-center">Vous n'avez pas reçu votre mail de vérification ?</a>
	</div>
</form>