<form action="/forget/{{forgotPasswordToken}}" method="post" class="m-auto" style="max-width: 500px;">
	<div class="form-floating">
		<input class="form-control" id="password" name="password" type="password" placeholder="Entrer votre E-mail..." required="">
		<label for="password">Mot de passe</label>
	</div>
	<div class="form-floating">
		<input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Entrer votre E-mail..." required="">
		<label for="confirmPassword">Confirmation mot de passe</label>
	</div>

	{% if error is defined %}
		<p class="text-justify text-danger">{{ error }}</p>
	{% endif %}

	{% if success is defined %}
		<p class="text-justify text-success">{{ success }}</p>
	{% endif %}

	<div class="d-flex justify-content-center">
		<button class="btn btn-primary text-uppercase text-light w-100" id="submitButton" name="submitButton" type="submit">Modifier le mot de passe</button>
	</div>

	<div class="d-flex justify-content-center mt-4 mb-4">
		<a href="/login">Se connecter</a>
	</div>
</form>