<form action="/login#message" method="post" class="m-auto" style="max-width: 500px;">
	<div class="form-floating my-1">
		<input class="form-control pl-1" id="email" name="email" type="email" placeholder="Entrez votre E-mail..." required="" value="{{ form.email }}">
		<label for="email">Adresse e-mail</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control pl-1" id="password" name="password" type="password" placeholder="Entrez votre mot de passe..." required="">
		<label for="password">Mot de passe</label>
	</div>

	{% if message.error is not null %}
		<p class="text-justify text-danger" id="message">{{ message.error }}</p>
	{% endif %}

	<br>

	<div class="d-flex justify-content-center">
		<button class="btn btn-primary text-uppercase text-light w-100" id="submitButton" name="submitButton" type="submit">Initialiser</button>
	</div>
</form>