{% extends "@client/errors/error.html.twig" %}

{% block title %}
	500
{% endblock %}

{% block main %}
	<h1>500</h1>

	<p>Error in <b>{{ file }}</b> on line <b>{{ line }}</b></p>
	<p>{{ message }}</p>
{% endblock %}