<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <title>{% block title %}Mon blog - Error{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>