<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <title>{% block title %}Error{% endblock %}</title>

            <link href="/css/client.min.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="d-flex justify-content-center flex-column" style="max-width: 800px;">
                {% block main %}{% endblock %}
            </div>
        </main>
    </body>
</html>