<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
		<h1>{% block mainTitle %}{% endblock %}</h1>
    </body>
</html>