<form action="/admin#message" method="post">
	<div class="row">
		<div class="form-group col-12 col-md-6">
			<label for="firstName">Prénom</label>
			<input type="text" class="form-control" id="firstName" name="firstName" value="{{ admin.firstName }}" required="">
		</div>
		<div class="form-group col-12 col-md-6">
			<label for="lastName">Nom</label>
			<input type="text" class="form-control" id="lastName" name="lastName" value="{{ admin.lastName }}" required="">
		</div>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email" value="{{ admin.email }}" required="">
	</div>
	<button type="submit" class="btn btn-primary" name="submitButtonAccount">Sauvegarder</button>
</form>

{% if message.accountSuccess is not null %}
	<p class="mt-3 text-success" id="message">Les informations de votre compte ont bien été mises à jour.</p>
{% endif %}

{% if message.accountError is not null %}
	<p class="mt-3 text-danger" id="message">{{ message.accountError }}</p>
{% endif %}