<form action="" method="post">
	<input type="hidden" name="slug" value="{{ post.slug }}">
	<div class="form-group">
		<label for="title">Titre</label>
		<input type="text" class="form-control" id="title" value="{{ post.title }}">
	</div>
	<div class="form-group">
		<label for="content">Contenu</label>
		<textarea class="form-control" id="content" rows="3">{{ post.content }}</textarea>
	</div>
	<div class="row">
		<div class="form-group col-12 col-md-6">
			<label for="coverImageFile">Uploader l'image de couverture</label>
			<input type="file" class="form-control-file" id="coverImageFile">
		</div>
		<div class="form-group col-12 col-md-6">
			<label for="coverImageAlt">Description de la photo d'identity</label>
			<input type="text" class="form-control" id="coverImageAlt" value="{{ post.coverageImageAlt }}">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Sauvegarder</button>
</form>