<form action="" method="post">
	{% if action == "putOnline" %}
		<input type="submit" value="Put online">
	{% endif %}

	{% if action == "putOffline" %}
		<input type="submit" value="Put offline">
	{% endif %}
</form>