{% extends "@admin/base.html.twig" %}

{% block title %}
	{% if action == "add" %}Add post{% endif %}

	{% if action == "edit" %}Edit post{% endif %}

	{% if action == "delete" %}Confirm post delete{% endif %}
{% endblock %}

{% block main %}
	{% if action == "add" %}
		<h1>Add post</h1>
		{% include "@admin/forms/post.html.twig" %}
	{% endif %}

	{% if action == "edit" %}
		<h1>Edit post : {{ slug }}</h1>
		{% include "@admin/forms/post.html.twig" %}
	{% endif %}

	{% if action == "delete" %}
		<h1>Confirm post delete : {{ slug }}</h1>
		{% include "@admin/forms/confirmDelete.html.twig" %}
	{% endif %}
{% endblock %}