{% extends "@admin/base.html.twig" %}

{% block title %}Comment put offline{% endblock %}

{% block main %}
	<h1>Put comment offline : {{ id }}</h1>
	{% include "@admin/forms/_putOffline.html.twig" %}
{% endblock %}