{% extends "@admin/base.html.twig" %}

{% block title %}Comment put online{% endblock %}

{% block main %}
	<h1>Put comment online : {{ id }}</h1>
	{% include "@admin/forms/_putOnline.html.twig" %}
{% endblock %}