<div class="post-preview">
	<p class="post-meta mb-1">Commenté par <b>{{ comment.user.firstName }} {{ comment.user.lastName }}</b> le {{ comment.createdAt|date("d/m/Y à H:i:s") }}</p>

	<p class="text-justify mt-0 mb-4">{{ comment.content }}</p>
</div>