{% extends "@client/base.html.twig" %}

{% block title %}Register - {{parent()}}{% endblock %}

{% block main %}
	<h1>Register</h1>
	{% include "@client/forms/_register.html.twig" only %}
{% endblock %}