<style>
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

	* {
		margin: 0;
		padding: 0;

		box-sizing: border-box;

		font-family: "Open Sans", Arial, sans-serif;
	}

	header {
		margin-bottom: 15px;
		padding: 10px;

		text-align: center;

		background-color: #2BC762;
		color: white;
	}

	main h2, main p {
		margin: 7.5px;
	}
</style>

<header><h1>{% block title %}{% endblock %}</h1></header>
<main>{% block mail %}{% endblock %}</main>